<div id="header"></div>
<div class="flex flex-wrap mt-14 ml-20  w-[90%]">
  <div class="relative flex flex-col w-[22%] h-fit border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/Vector1.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Transaction Today</p>    
  </div>

  <div class="relative flex flex-col w-[22%] h-fit ml-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/tdesign_money.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Total Spending Today</p>    
  </div>

  <div class="relative flex flex-col w-[22%] h-fit ml-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/mdi_rice.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Nasi Jinggo Ordered</p>    
  </div>

  <div class="relative flex flex-col w-[22%] h-fit ml-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/fluent_drink-wine-16-filled.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Tuak Ordered</p>    
  </div>
  
  <div class="relative flex flex-col w-[22%] h-fit mt-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/bx_drink.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Arak Ordered</p>    
  </div>

  <div class="relative flex flex-col w-[22%] h-fit ml-10 mt-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/Vector (1).png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Krupuk Ordered</p>    
  </div>

  <div class="relative flex flex-col w-[22%] h-fit ml-10 mt-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/mdi_fried-potatoes.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Rempeyek Ordered</p>    
  </div>

  <div class="relative flex flex-col w-[22%] h-fit ml-10 mt-10 border-2 rounded-lg drop-shadow-lg ">
    <p class="ml-3 mt-3 text-[#414141] text-[24px] font-bold">10</p>
    <img src="./img/Group.png" alt="" class="absolute right-4 top-4">
    <p class="ml-3 mb-5 text-[18px] text-[#414141] font-normal">Peanut Ordered</p>    
  </div>
</div>

<div id="footer"></div>
<script src="layout.js"></script> 