<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/dist/output.css" rel="stylesheet" />

      </head>
<body>
    <div class="flex flex-row">
        <div class="ml-48 mt-16">
            <img src="/img/loginlogo.png" alt="">
        </div>

        <div class=" flex flex-col mt-10 items-center w-[35%] ">
           <div class=" ">
            <img src="./img/material-symbols-light_food-bank-outline.png" alt="" >
           </div>
           <div>
            <p class="text-[40px] font-bold tracking-widest">Welcome Back</p>
        
           </div>

           <div class="">
            <p class="text-[18px] font-bold tracking-wide -mt-2">Please Enter Your Detail</p>
            </div>

            <div class=" w-full mt-7 text-[18px] font-bold tracking-wide">
                <p>Username :</p>
                <input type="text" class="w-full border-b-2 border-[#787878] mt-2">
            </div>

            <div class=" w-full mt-10 text-[18px] font-bold tracking-wide ">
                <p>Password :</p>
                <input type="text" class="w-full border-b-2 border-[#787878] mt-2">
            </div>

            <div class=" w-full mt-7 flex flex-row ">
                <input type="checkbox" class="rounded-md w-5">
                <p class="ml-2">Remember Me ?</p>
            </div>

            <div class=" bg-[#121212] px-[40%] mt-12 rounded-xl">
                <a href="" class="text-white text-[22px] font-bold tracking-wide ">
                    Sign In
                </a>
            </div>

            <div class="flex flex-row mt-20">
                <p class="text-[14px] font-normal">Dont Have Account ?</p>
                <a class="text-[14px] font-bold ml-2" href="register.html">Sign Up</a>
            </div>

        </div>
    </div>
</body>
</html>